{{!-- Basic view with navbar, menu on the left and content on the right. --}}
<div class="navbar">
  {{#link-to "index" tagName="h1" class="title" }}
    <span>DCAT Catalogs, Datasets & Distributions</span>
  {{/link-to}}
  <div class="navigation-menu">
    {{navigation-menu}}
  </div>
</div>
<div class="main-content">
  {{outlet}}
</div>
