{{!--
  Displays a language-string-set element from a model.

  Configuration:
    model: the model to take the string-set from
    tagName: tagName for the component
 --}}
{{handle-attribute model=model attribute="content" classes="content-string"}}
<span>
  {{handle-attribute model=model attribute="language" classes="language-string"}}
</span>
