{{!--
  Default welcome page to the application.

  Configuration:
  - title: for title text
  - text: for paragraph under the title
 --}}
<div class="index">
  <h1>{{title}}</h1>
  <p>
    {{text}}
  </p>
</div>
